html {
  font-size: 10px;
}
.App {
  text-align: center;
  background-color: #1e74fd;
  min-height: 100vh;
  font-size: 1.6rem;
  margin: auto;
  width: 100%;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 6px;
  }
}
